{% extends "RefugiowebApp/base.html" %}

{% load static %} 

{% load crispy_forms_tags %}

{% block content %} 
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1>Inicio de Sesion</h1>
                <hr>
                    <form method="post" action="">
                        {% csrf_token %} 
                            <div style="width: 50%; margin: auto;">

                                {{form|crispy}}
                                <a href="{% url 'autentication' %}">Registrate |</a>
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        <p class="text-center mt-2" style="font-size: 16px;">
                            Si no olvidaste tu contraseña puedes resetearla <a href="{% url 'reset' %}">aqui</a>

                    </form>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endblock %}