{% extends "RefugiowebApp/base.html" %}

{% load static %} 

{% load crispy_forms_tags %}

{% block content %} 

<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1>Restablecer Contraseña</h1>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %} 

                    <div class="form-froup" style="width: 50%; margin: auto;">
                        <label for="password" >Nombre de Usuario</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <br>
                    <div style="margin: auto; text-align: center;">
                        <a href="{% url 'logear' %}">Iniciar Sesion |</a>
                        <button class="btn btn-success" type="submit" >Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>


{% endblock %}