{% extends "RefugiowebApp/base.html" %}

{% load static %} 



{% block content %} 


<br>
<br>
<br>

<div class="card">
    <div class="card-body">
        <h1>Listado de Usuarios </h1>
        <hr>
        <div>
            <a href="{% url 'documento_pdf' %}" class="btn btn-primary">Generar listado pdf</a>
        </div>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        
            {% for user in entity %}
        
                <tr>
                    <td>{{ user.username | title }}</td>
                    <td>{{ user.first_name | title }}</td>
                    <td>{{ user.last_name | title }}</td>
                    <td>{{ user.email | title }}</td>
        
            {% endfor %}
        
        </table>
        <div>
            {% include 'tablas/paginator.html' %}
        </div>
    </div>
</div>

<br><br>
{% endblock %}
